flake8==3.8.3
isort==5.1.4
jedi==0.17.2
mccabe==0.6.1
parso==0.7.1
pluggy==0.13.1
ptvsd==4.3.2
pycodestyle==2.6.0
pyflakes==2.2.0
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
ujson==1.35
yapf==0.30.0
